[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/Gokarna"]
	path = themes/Gokarna
	url = https://github.com/gokarna-theme/gokarna-hugo.git
